.parent{
    background-color: lightpink;
    width: auto;
    margin: 10px;
    height: 30%;
    position: relative;
}
.child-one{
    background-color:blue;
    margin-top: 10px;
    
    
    
}
.child-two{
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 10px;

}
.child-three{
    background-color: blueviolet;
    margin-top: 10px;
}
.child-four{
   background-color: brown; 
   margin-bottom: 20px;
}